@import url("https://use.typekit.net/ffo1egr.css");

@font-face{
    font-family: 'Obviously Demo Wide Semibold';
    src: url('../assets/Fonts/ObviouslyDemo/ObviouslyDemo-WideSemibold.otf');
}

@font-face{
    font-family: 'Obviously Demo Wide Medium';
    src: url('../assets/Fonts/ObviouslyDemo/ObviouslyDemo-WideMedium.otf');
}

@font-face{
    font-family: 'Obviously Demo Condensed Light';
    src: url('../assets/Fonts/ObviouslyDemo/ObviouslyDemo-CondensedLight.otf');
}

@font-face{
    font-family: 'Obviously Demo Condensed Medium';
    src: url('../assets/Fonts/ObviouslyDemo/ObviouslyDemo-CondensedMedium.otf');
}

@font-face{
    font-family: 'Obviously Demo Condensed Bold';
    src: url('../assets/Fonts/ObviouslyDemo/ObviouslyDemo-CondensedBold.otf');
}

@font-face{
    font-family: 'Maison Neue Book';
    src: url('../assets/Fonts/MaisonNeue/MaisonNeue-Book.ttf');
}

@font-face{
    font-family: 'Maison Neue Medium';
    src: url('../assets/Fonts/MaisonNeue/MaisonNeue-Medium.ttf');
}

@font-face{
    font-family: 'Maison Neue Bold';
    src: url('../assets/Fonts/MaisonNeue/MaisonNeue-Bold.ttf');
}